/* CreatorCarousel.css */

/* Mobile View */
.creator-carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom:20px;
}

.creator-carousel {
  position: relative;
  width: 90%; /* Adjusted for mobile */
  max-width: 1200px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.1),
              -12px -12px 24px rgba(255, 255, 255, 0.5);
}

.creator-carousel img {
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease-in-out;
}

.creator-carousel-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  color: #fff;
}

.creator-carousel-content h3 {
  margin: 0;
  font-size: 1.2rem; /* Adjusted for mobile */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.creator-carousel-content p {
  margin: 8px 0 0;
  font-size: 1rem;
}

.creator-carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px 16px;
  font-size: 1rem;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1),
              -8px -8px 16px rgba(255, 255, 255, 0.5);
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

/* Media Query for Tablets and Above */
@media (min-width: 768px) {
  .creator-carousel {
    width: 100%; /* Adjusted for larger screens */
  }

  .creator-carousel-content h3 {
    font-size: 1.5rem; /* Restored to original size */
  }
}
