.bgA{
    border: 2px solid #0B3948;
    border-radius:2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh;
    padding: 1vh;
    max-height: 150vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    
}
.bgA::-webkit-scrollbar {
    display: none;
  }
.Assets{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 90%;
    margin: 20px;
    border-radius: 5px;
    background:rgba(172, 176, 189, 0.2);
    color: rgb(53, 144, 243);
}
.Assets:hover { 
    transform: scale(1.05);
    transition: all .2s ease-in-out;
 }
.logo{
    display: flex;
    max-width: 20vh;
    max-height: 18vh;
    object-fit: contain;
    margin-top: 3vh;
}
.AssetText{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Quicksand";
}
.AssetDescription{
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Quicksand";
    color: #416165;
    font-weight: lighter;
    font-size: small;
}
.AssetTitle{
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Quicksand";
    font-size: x-large;
    color: #c2bbf0;
    font-weight: bold;
}
.title{
    font-family: "Quicksand";
    color: #0B3948;
    font-weight: bold;
    text-shadow: rgb(194, 187, 240);
}