.chat3d{
    z-index: 0;
    width:80px;
    height:auto;
    position: absolute;
    animation: float 22s ease-in-out infinite;
}

@keyframes float {
    0%   { transform:   translate(-50vw, 60vh); }
    38%  { transform:  translate(49vw, 35vh) rotate(160deg); }
    50%  { transform:  translate(-2vw, 1vh) rotate(320deg); }
    78%  { transform:  translate(-4vw, 60vh) rotate(-20deg); }
    90%  { transform: translate(-49vw, 25vh) rotate(-120deg); }
    100% { transform: translate(-50vw, 60vh); }
}