.TitleLogo{
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Quicksand";
    font-size: xx-large;
    color: #0B3948;
    font-weight: bold;
}