.bgS{
    background-color: #D0CDD7;
    border-radius:2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1vh;
}

.SpotlightTitle{
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Quicksand";
    font-size: xx-large;
    color: #0B3948;
    font-weight: bold;
}

.SpotlightHandle{
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Quicksand";
    font-size: large;
    color: #8fb8ed;
    font-weight: bold;
}
.ART{
    display: flex;
    max-width: 50vh;
    max-height: 40vh;
    object-fit: contain;
    margin: 3vh;
}

.gallery{
    display: flex;

}
.gallery::-webkit-scrollbar {
    display: none;
  }
.Links{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3vh;
}
.instagram{
    margin: 1vh;
    color: #8fb8ed;
}
.twitter{
    margin: 1vh;
    color: #8fb8ed;
}